<link rel="stylesheet" href="../stylesheets/adminlogin.css">
<form action="/admin/signin" method="post">
    <div class="limit">
    <div class="login-container">
        <div class="bb-login">
            <form class="bb-form validate-form"> <span class="bb-form-title p-b-26"> Welcome </span> <span class="bb-form-title p-b-48"> <i class="mdi mdi-symfony"></i> </span>
                <div class="wrap-input100 validate-input"> <input class="input100" type="text" name="email"> <span class="bbb-input" data-placeholder="Email"></span> </div>
                <div class="wrap-input100 validate-input" > <span class="btn-show-pass"> <i class="mdi mdi-eye show_password"></i> </span> <input class="input100" type="password" name="password"> <span class="bbb-input" data-placeholder="Password"></span> </div>
                <div class="login-container-form-btn">
                    <div class="bb-login-form-btn">
                        <div class="bb-form-bgbtn"></div> <button class="bb-form-btn" type="submit" >Login  </button>
                    </div>
                </div>
                <div class="text-center p-t-115"> <span class="txt1"> Don&rsquo;t have an account? </span> <a class="txt2" href="/admin/signup"> Sign Up </a> </div>
            </form>
        </div>
    </div>
</div>
</form>
